.Admin-contact{
               display: flex;
               width: 30%;
               height: fit-content;
               border: 1px solid dimgray;
              align-self: center;
              justify-self: center;
              border-radius: 5px;
              padding: 1.2%;
              flex-direction: column;
}
.Admin-contact span{
               font-size: 1.5em;
               font-weight: 600;
}
@media (max-width:768px) {
               .Admin-contact{
                              width: 90%;
               }
}