.comments-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  /* border: 1px solid #ddd; */
}

.comment-card {
  min-width: 300px; /* Set a fixed or min-width for each card */
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
